@import url('https://fonts.googleapis.com/css?family=Noto Sans Tamil Supplement');

body{
    background-color: #000000;
    font-family: 'Noto Sans Tamil Supplement';
    color: #ffd75f;
}
.centered{
    text-align: center;
}
